<div *ngIf="watchlist">

  <h2>{{watchlist.series.title | uppercase}} Details</h2>
  <div><span>id: </span>{{watchlist.id}}</div>
  <div><span>progress: </span>{{watchlist.progress}} / {{watchlist.series.episodes}}</div>
  <div><span>score: </span>{{watchlist.score}}</div>
  <div><span>status: </span>{{watchlist.status.name}}</div>
  <div><span>comment: </span>{{watchlist.comment}}</div>

  <button (click)="updateButton()">UPDATE</button>
  <button (click)="deleteWatchlist()">DELETE</button>
  <button (click)="goBack()">BACK</button>
</div>

<form *ngIf="update" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Progress</label>
    <input class="form-control"
           name="progress"
           type="number"
           min="0"
           required
           [(ngModel)]="model.progress"
           #progress="ngModel"
    >
    <div [hidden]="progress.valid || progress.pristine" class="alert alert-danger">
      Progress is required!
    </div>
  </div>

  <div class="form-group">
    <label>Status</label>
    <select class="form-control"
            name="status"
            required
            [(ngModel)]="model.status"
    >
      <option *ngFor="let state of states" [value]="state">{{state}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Score</label>
    <select class="form-control"
            name="score"
            required
            [(ngModel)]="model.score"
    >
      <option *ngFor="let score of scores" [value]="score">{{score}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Comment</label>
    <input class="form-control"
           type="text"
           name="comment"
           maxlength="200"
           id="comment"
           required
           [(ngModel)]="model.comment"
    >
  </div>

  <div class="form-group">
    <button *ngIf="progress.valid" class="btn btn-primary btn-block">
      Save
    </button>
  </div>
</form>
