<h2>{{currentUser.username}}'s Watchlist</h2>

<button (click)="getWatchlist(currentUser.username)"> All </button>
<button (click)="searchByStatus('watching')"> Watching </button>
<button (click)="searchByStatus('dropped')"> Dropped </button>
<button (click)="searchByStatus('completed')"> Completed </button>
<button (click)="searchByStatus('plantowatch')"> Plan To Watch </button>
<button (click)="searchByStatus('onhold')"> On Hold </button>


<ul class="watchlist">
  <li *ngFor="let w of watchlist">
    <a routerLink="/detail-watchlist/{{w.id}}">
       {{w.series.title}}
    </a>
  </li>
</ul>
