<h2 mat-dialog-title>Add new Series</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="series.name" placeholder="Add a name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Episodes</mat-label>
      <input matInput [(ngModel)]="series.episodes" placeholder="Add number of episodes">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rating</mat-label>
      <input matInput [(ngModel)]="series.rating" placeholder="Add rating">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Plot</mat-label>
      <textarea matInput [(ngModel)]="series.plot" placeholder="Write something..."></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-button (click)="close()" [disabled]="!(series.name && series.plot)">Save</button>
</mat-dialog-actions>

