<div *ngIf="serie">

  <h2>{{serie.title | uppercase}} Details</h2>
  <div><span>id: </span>{{serie.id}}</div>
  <div><span>title: </span>{{serie.title}}</div>
  <div><span>episodes: </span>{{serie.episodes}}</div>
  <div><span>views: </span>{{serie.views}}</div>
  <div><span>rating: </span>{{serie.rating}}</div>
  <div><span>members: </span>{{serie.members}}</div>
  <div><span>plot: </span>{{serie.plot}}</div>
  <div>genres:<span *ngFor="let genre of serie.genres"> {{genre.name}} </span></div>

  <button *ngIf="isLoggedIn && !watchlistAdded" (click)="addToWatchlist()">ADD TO WATCHLIST</button>
  <button *ngIf="showUpdateButton" (click)="updateButton()">UPDATE</button>
  <button *ngIf="showDeleteButton" (click)="deleteSeries()">DELETE</button>
  <button (click)="goBack()">BACK</button>
</div>

<div class="alert alert-success" *ngIf="watchlistAdded">
  Series added to {{currentUser.username}}'s Watchlist.
</div>

<form *ngIf="update && serie" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Episodes</label>
    <input class="form-control"
           type="number"
           min="0"
           name="episodes"
           required
           [(ngModel)]="model.episodes"
           #episodes="ngModel"
    >
    <div [hidden]="episodes.valid || episodes.pristine" class="alert alert-danger">
      Episodes is required!
    </div>
  </div>

  <div class="form-group">
    <label>Plot</label>
    <input class="form-control"
           type="text"
           maxlength="200"
           name="plot"
           required
           [(ngModel)]="model.plot"
    >
  </div>

  <div class="form-group">
    <label>Genres</label>
    <mat-form-field class="form-control">
      <mat-select multiple name="genres" [(ngModel)]="model.genres">
        <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button *ngIf="episodes.valid" class="btn btn-primary btn-block">
      Save
    </button>
  </div>
</form>
