<h2>Series List</h2>

<div class="input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search by title"
    [(ngModel)]="title"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="searchTitle()"
    >
      Search
    </button>
  </div>
</div>

<ul class="series-list">
  <li *ngFor="let serie of series | paginate : {
     itemsPerPage: pageSize, currentPage: pageNumber, totalItems: count
   };">
    <a routerLink="/detail/{{serie.id}}"> {{serie.title}} </a>
  </li>
</ul>

<div class="pagination">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)">
  </pagination-controls>
</div>

<div class="items-per-page">
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
      {{ size }}
    </option>
  </select>
</div>

<div class="sort-type">
  Sort By:
  <select (change)="changeSortType($event)">
    <option *ngFor="let sort of sortType" [ngValue]="sort">
      {{ sort }}
    </option>
  </select>
</div>




