<h2> Add Series </h2>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control"
           type="text"
           name="title"
           minlength="1"
           maxlength="50"
           required
           [(ngModel)]="model.title"
           #title="ngModel"
    >
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required!
    </div>
  </div>

  <div class="form-group">
    <label>Episodes</label>
    <input class="form-control"
           type="number"
           min="0"
           name="episodes"
           required
           [(ngModel)]="model.episodes"
           #episodes="ngModel"
    >
    <div [hidden]="episodes.valid || episodes.pristine" class="alert alert-danger">
      Episodes is required!
    </div>
  </div>

  <div class="form-group">
    <label>Plot</label>
    <input class="form-control"
           type="text"
           maxlength="200"
           name="plot"
           required
           [(ngModel)]="model.plot"
    >
  </div>

  <div class="form-group">
    <label>Genres</label>
    <mat-form-field class="form-control">
      <mat-select multiple name="genres" [(ngModel)]="model.genres">
        <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button *ngIf="title.valid && episodes.valid" class="btn btn-primary btn-block">
      Create
    </button>
  </div>
</form>

